

<div class="add-new">
    <form [formGroup]="filterForm">
        <mat-form-field>
            <mat-icon class="search-icon" matPrefix>search</mat-icon>
            <input matInput placeholder="Search products" formControlName="search" (input)="search()" #input>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select (selectionChange)="search()" formControlName="categories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button routerLink="/create-product" class="add-new-button">
      <b class="plus">+ Add new product</b>
    </button>
</div>

<div class="table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="prescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prescription needed </th>
        <td mat-cell *matCellDef="let element"> {{element.prescription ? 'Yes' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categories </th>
        <td mat-cell *matCellDef="let element"> {{mapCategories(element.categories)}} </td>
        </ng-container>

        <ng-container matColumnDef="additional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Additional info </th>
        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon routerLink="/edit-product/{{element.code}}" class="edit">edit</mat-icon>
            <mat-icon *ngIf="!element.isDeleted" (click)="deleteProduct(element)" class="delete">delete</mat-icon>
            <mat-icon *ngIf="element.isDeleted" (click)="restoreProduct(element)" class="restore">restore</mat-icon>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

