table {
    width: 100%;
}

span {
    min-width: 100px;
    display: table-cell;
}

th.mat-sort-header-sorted {
    color: black;
}

mat-icon {
    margin: 3px;
    /* color: white; */
    padding: 6px;
    border-radius: 20px;
}

.edit {
    color: rgb(9, 175, 9);
}

.delete {
    color: red;
}

.add-new {
    margin: 10px;
}

.add-new-button {
    background-color: rgb(0, 157, 255);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    outline: none;
    float: right;
}

.items {
    width: 60%;
    display: inline-block;
}

.cart {
    padding: 30px;
    margin: 30px;
    height: 380px;
    width: 30%;
    display: inline-grid;
    overflow: auto;
    border-radius: 2px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
}

.plus-sign {
    background-color:rgb(0, 157, 255);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    display: inline;
    padding: 1px 9px 1px 9px;
    font-size: 16px;
}

.stavke-title {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

.total {
    float: right;
    font-weight: bold;
}

.total-num {
    float: right;
    font-size: 16px;
    margin-right: 24px;
    margin: 20px 29px 20px 20px;
}

.checkout-item {
    text-align: center;
}

.bill-item {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 157, 255);
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    outline: none;
    font-weight: bold;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

button:disabled {
    opacity: 70%;
}

button:hover {
    cursor: pointer;
    opacity: 70%;
}