<div *ngIf="isLoggedIn$ | async" class="menu">
    <a *ngIf="isManager()" class="menu-item" routerLink="/employees" routerLinkActive="active">Employees</a>
    <a *ngIf="isManager()" class="menu-item" routerLink="/products" routerLinkActive="active">Products</a>
    <a class="menu-item" routerLink="/checkout" routerLinkActive="active">Checkout</a>
    <a class="menu-item" routerLink="/receipt-history" routerLinkActive="active">Receipt History</a>
    <a class="menu-item" (click)="onLogout()" routerLinkActive="active">Log out</a>
</div>
