<div *ngIf="isLoggedIn$ | async" class="menu">
    <mat-icon class="logo" routerLink="/">local_pharmacy</mat-icon>
    <div class="menu-items">
        <a *ngIf="isManager()" class="menu-item" routerLink="/employees" routerLinkActive="active">
            <div class="icon"><mat-icon class="icon">person</mat-icon></div>
            <span class="text">Employees</span>
        </a>
        <a *ngIf="isManager()" class="menu-item" routerLink="/products" routerLinkActive="active">
            <div class="icon"><mat-icon class="icon">list_alt</mat-icon></div>
            <span class="text">Products</span>
        </a>
        <a class="menu-item" routerLink="/checkout" routerLinkActive="active">
            <div class="icon"><mat-icon class="icon">shopping_cart</mat-icon></div>
            <span class="text">Checkout</span>
        </a>
        <a class="menu-item" routerLink="/receipt-history" routerLinkActive="active">
            <div class="icon"><mat-icon class="icon">archive</mat-icon></div>
            <span class="text">Receipt history</span>
        </a>
        <a class="menu-item" (click)="onLogout()" routerLinkActive="active">
            <div class="icon"><mat-icon class="icon">logout</mat-icon></div>
            <span class="text">Log out</span>
        </a>
    </div>  
</div>
