<div class="login">
  <form [formGroup]="loginForm" (submit)="submit()">
    <div class="title">
        Login
    </div>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="(show && loginForm.controls.email.errors) || (loginForm.controls.email.touched && loginForm.controls.email.invalid)">
          <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="loginForm.controls.email.errors.pattern">Email is invalid.</span>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="(show && loginForm.controls.password.errors) || (loginForm.controls.password.touched && loginForm.controls.password.invalid)">
            <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button class="submit-button" type="submit">Login</button>
</form>
</div>
