<div class="container">
    
    <form [formGroup]="productForm" (submit)="submit()">
        <div class="title">
            Create product
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="(show && productForm.controls.name.errors) || (productForm.controls.name.touched && productForm.controls.name.invalid)">
                <span *ngIf="productForm.controls.name.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Manufacturer</mat-label>
            <input matInput formControlName="manufacturer">
            <mat-error *ngIf="(show && productForm.controls.manufacturer.errors) || (productForm.controls.manufacturer.touched && productForm.controls.manufacturer.invalid)">
                <span *ngIf="productForm.controls.manufacturer.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Current amount</mat-label>
            <input matInput type="number" formControlName="currentAmount">
            <mat-error *ngIf="(show && productForm.controls.currentAmount.errors) || (productForm.controls.currentAmount.touched && productForm.controls.currentAmount.invalid)">
                <span *ngIf="productForm.controls.currentAmount.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Minimum amount</mat-label>
            <input matInput type="number" formControlName="minAmount">
            <mat-error *ngIf="(show && productForm.controls.minAmount.errors) || (productForm.controls.minAmount.touched && productForm.controls.minAmount.invalid)">
                <span *ngIf="productForm.controls.minAmount.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Maximum amount</mat-label>
            <input matInput type="number" formControlName="maxAmount">
            <mat-error *ngIf="(show && productForm.controls.maxAmount.errors) || (productForm.controls.maxAmount.touched && productForm.controls.maxAmount.invalid)">
                <span *ngIf="productForm.controls.maxAmount.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <div>
            <mat-label class="pers">Perscription needed</mat-label>
            <mat-radio-group class="pers-radio" matInput formControlName="perscriptionNeeded">
                <mat-radio-button class="margin-right" checked value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" step="0.01" formControlName="price">
            <mat-error *ngIf="(show && productForm.controls.price.errors) || (productForm.controls.price.touched && productForm.controls.price.invalid)">
                <span *ngIf="productForm.controls.price.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select formControlName="categories" multiple>
              <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="submit-button" type="submit">Submit</button>
    </form>
</div>