<div class="container">
  <div class="items">
      <div class="table">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

              <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let element"> {{this.getDate(element.date).toString()}}</td>
              </ng-container>

              <ng-container matColumnDef="employee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Issued By </th>
              <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
              </ng-container>

              <ng-container matColumnDef="receipt-unique-items">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique products </th>
              <td mat-cell *matCellDef="let element"> {{element.items.length}} </td>
              </ng-container>

              <ng-container matColumnDef="receipt-total-items">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total products </th>
              <td mat-cell *matCellDef="let element"> {{totalProducts(element)}} </td>
              </ng-container>

              <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
              <td mat-cell  *matCellDef="let element"> {{element.total}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row (click)="selectReceipt(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
  </div>
  <div class="cart">
      <div class="receipt-details">
        <span class="stavke-title">Receipt Details</span>
        <span class="receipt-warning" *ngIf="!currentReceipt">Currently there is no receipt selected, click on any receipt in the table to open it's details.</span>
        <span class="receipt-info" *ngIf="currentReceipt">ID: {{currentReceipt.id}}</span>
        <span class="receipt-info" *ngIf="currentReceipt">Issued by: {{currentReceipt.employee}}</span>
        <span class="receipt-info" *ngIf="currentReceipt">Date: {{currentReceipt.date.toString()}}</span>
        <span class="stavke-title" *ngIf="currentReceipt">Receipt Items</span>
      </div>
      <div>
          <table mat-table [dataSource]="receiptItems" class="mat-elevation-z0">

              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
              <ng-container matColumnDef="code">
                  <th class="checkout-item" mat-header-cell *matHeaderCellDef> Code </th>
                  <td class="checkout-item" mat-cell *matCellDef="let element"> {{element.code}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                  <th class="checkout-item" mat-header-cell *matHeaderCellDef> Name </th>
                  <td class="checkout-item" mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                  <th class="checkout-item" mat-header-cell *matHeaderCellDef> Amount </th>
                  <td class="checkout-item" mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>

              <ng-container matColumnDef="price">
                  <th class="checkout-item" style="width:100px !important" mat-header-cell *matHeaderCellDef> Price </th>
                  <td class="checkout-item" mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsCheckout"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCheckout;"></tr>
          </table>
      </div>
      <div class="total">
        <span class="total-num">Total: {{calculateTotal()}}</span>
      </div>
      <div>
          <button class="bill-item" (click)="cancelReceipt()">
              CANCEL RECEIPT
          </button>
      </div>
  </div>

</div>
