table {
    width: 100%;
}

span {
    border: 1px solid black;
    min-width: 100px;
    display: table-cell;
}

th.mat-sort-header-sorted {
    color: black;
}

mat-icon {
    margin: 3px;
    /* color: white; */
    padding: 6px;
    border-radius: 20px;
}

.edit {
    color: rgb(9, 175, 9);
    outline: none;
}

.edit:hover {
    cursor: pointer;
    color: rgb(77, 240, 77);
}

.delete {
    color: red;
}

.delete:hover {
    cursor: pointer;
    color: rgb(255, 137, 137);
}

.add-new {
    margin: 20px;
    float: right;
}

.add-new-button {
    background-color: rgb(0, 157, 255);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    outline: none;
}

.add-new-button:hover {
    cursor: pointer;
    background-color: rgb(57, 177, 252);
}

.title {
    float: left;
    margin: 20px;
    font-weight: bold;
    font-size: 26px;
}

.table {
   margin: 20px;
}